@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Source+Code+Pro:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abel&family=Roboto:wght@300&family=Source+Code+Pro:wght@300&display=swap");
* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box; }

/* COLORS */
/* TYPOGRAPHY */
/* EXTEND*/
.header nav h1 {
  font-family: 'Abel', sans-serif;
  font-family: 'Source Code Pro', monospace;
  font-weight: normal;
  font-size: 1.563rem; }

/* BUCLE */
.marca {
  color: black;
  font-weight: bold; }

/* INDEX */
.trabajos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center; }
  .trabajos div {
    width: 50%;
    display: flex;
    justify-content: center; }
    .trabajos div a {
      text-decoration: none; }
      .trabajos div a h3 {
        font-size: 1.063rem;
        color: #4F4F4F;
        font-family: 'Abel', sans-serif;
        font-family: 'Source Code Pro', monospace;
        font-weight: bold; }
    .trabajos div img {
      width: 90%;
      margin: 50px; }

.footer {
  background-color: #E3E3E3; }

/* MEDIA QUERYS */
@media (max-width: 576px) {
  .trabajos {
    flex-direction: column;
    margin: 20px; }
    .trabajos div {
      width: 100%; }
      .trabajos div a h3 {
        visibility: hidden;
        display: none; } }

/* BE HEALTHY */
.main.trabajos {
  display: flex;
  flex-direction: column; }
  .main.trabajos .section {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 3.75em;
    align-content: space-between; }
    .main.trabajos .section .textosTrabajo {
      display: flex;
      flex-direction: column;
      width: 50%; }
      .main.trabajos .section .textosTrabajo p {
        font-size: 0.9375em;
        font-family: 'Abel', sans-serif;
        font-family: 'Source Code Pro', monospace;
        font-weight: normal;
        text-align: start;
        padding: 01.25em; }
      .main.trabajos .section .textosTrabajo h3 {
        font-size: 0.9375em;
        font-family: 'Abel', sans-serif;
        font-family: 'Source Code Pro', monospace;
        font-weight: bold;
        text-align: start; }
    .main.trabajos .section .imagen2 {
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      width: 40%; }
  .main.trabajos .divisor {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #E3E3E3;
    height: 6em;
    align-items: center;
    width: 100%; }
    .main.trabajos .divisor p {
      font-size: 0.9375em;
      font-family: 'Abel', sans-serif;
      font-family: 'Source Code Pro', monospace;
      font-weight: bold;
      text-align: start; }
  .main.trabajos .section2 {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    align-items: center;
    margin: 3.75em;
    align-items: center; }
    .main.trabajos .section2 .textosTrabajo {
      display: flex;
      flex-direction: column;
      width: 50%;
      margin: 3em; }
      .main.trabajos .section2 .textosTrabajo p {
        font-size: 0.9375em;
        font-family: 'Abel', sans-serif;
        font-family: 'Source Code Pro', monospace;
        font-weight: normal;
        text-align: start;
        padding: 01.25em; }
      .main.trabajos .section2 .textosTrabajo h3 {
        font-size: 0.9375em;
        font-family: 'Abel', sans-serif;
        font-family: 'Source Code Pro', monospace;
        font-weight: bold;
        text-align: start; }

/* MEDIA QUERYS */
@media (max-width: 576px) {
  .main.trabajos .section {
    flex-direction: column;
    margin: 0; }
    .main.trabajos .section .imagen2 {
      width: 100%;
      padding: 20px; }
  .main.trabajos .divisor {
    flex-direction: column;
    padding: 20px; }
  .main.trabajos .section2.trabajos {
    flex-direction: column;
    margin: 0; }
    .main.trabajos .section2.trabajos .imagen2 {
      width: 100%;
      padding: 20px; } }

/* CINEMATODAY */
.main.trabajos {
  display: flex;
  flex-direction: column; }
  .main.trabajos .section {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 3.75em;
    align-content: space-between; }
    .main.trabajos .section .textosTrabajo {
      display: flex;
      flex-direction: column;
      width: 50%; }
      .main.trabajos .section .textosTrabajo p {
        font-size: 0.9375em;
        font-family: 'Abel', sans-serif;
        font-family: 'Source Code Pro', monospace;
        font-weight: normal;
        text-align: start;
        padding: 01.25em; }
      .main.trabajos .section .textosTrabajo h3 {
        font-size: 0.9375em;
        font-family: 'Abel', sans-serif;
        font-family: 'Source Code Pro', monospace;
        font-weight: bold;
        text-align: start; }
    .main.trabajos .section .imagen2 {
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      width: 40%; }
  .main.trabajos .divisor {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #E3E3E3;
    height: 6em;
    align-items: center;
    width: 100%; }
    .main.trabajos .divisor p {
      font-size: 0.9375em;
      font-family: 'Abel', sans-serif;
      font-family: 'Source Code Pro', monospace;
      font-weight: bold;
      text-align: start; }
  .main.trabajos .section2 {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    align-items: center;
    margin: 3.75em;
    align-items: center; }
    .main.trabajos .section2 .textosTrabajo {
      display: flex;
      flex-direction: column;
      width: 50%;
      margin: 3em; }
      .main.trabajos .section2 .textosTrabajo p {
        font-size: 0.9375em;
        font-family: 'Abel', sans-serif;
        font-family: 'Source Code Pro', monospace;
        font-weight: normal;
        text-align: start;
        padding: 01.25em; }
      .main.trabajos .section2 .textosTrabajo h3 {
        font-size: 0.9375em;
        font-family: 'Abel', sans-serif;
        font-family: 'Source Code Pro', monospace;
        font-weight: bold;
        text-align: start; }

/* MEDIA QUERYS */
@media (max-width: 576px) {
  .main.trabajos .section {
    flex-direction: column;
    margin: 0; }
    .main.trabajos .section .imagen2 {
      width: 100%;
      padding: 20px; }
  .main.trabajos .divisor {
    flex-direction: column;
    padding: 20px; }
  .main.trabajos .section2.trabajos {
    flex-direction: column;
    margin: 0; }
    .main.trabajos .section2.trabajos .imagen2 {
      width: 100%;
      padding: 20px; } }

/* HAPPY FEEL */
.main.trabajos {
  display: flex;
  flex-direction: column; }
  .main.trabajos .section {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 3.75em;
    align-content: space-between; }
    .main.trabajos .section .textosTrabajo {
      display: flex;
      flex-direction: column;
      width: 50%; }
      .main.trabajos .section .textosTrabajo p {
        font-size: 0.9375em;
        font-family: 'Abel', sans-serif;
        font-family: 'Source Code Pro', monospace;
        font-weight: normal;
        text-align: start;
        padding: 01.25em; }
      .main.trabajos .section .textosTrabajo h3 {
        font-size: 0.9375em;
        font-family: 'Abel', sans-serif;
        font-family: 'Source Code Pro', monospace;
        font-weight: bold;
        text-align: start; }
    .main.trabajos .section .imagen2 {
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      width: 40%; }
  .main.trabajos .divisor {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #E3E3E3;
    height: 6em;
    align-items: center;
    width: 100%; }
    .main.trabajos .divisor p {
      font-size: 0.9375em;
      font-family: 'Abel', sans-serif;
      font-family: 'Source Code Pro', monospace;
      font-weight: bold;
      text-align: start; }
  .main.trabajos .section2 {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    align-items: center;
    margin: 3.75em;
    align-items: center; }
    .main.trabajos .section2 .textosTrabajo {
      display: flex;
      flex-direction: column;
      width: 50%;
      margin: 3em; }
      .main.trabajos .section2 .textosTrabajo p {
        font-size: 0.9375em;
        font-family: 'Abel', sans-serif;
        font-family: 'Source Code Pro', monospace;
        font-weight: normal;
        text-align: start;
        padding: 01.25em; }
      .main.trabajos .section2 .textosTrabajo h3 {
        font-size: 0.9375em;
        font-family: 'Abel', sans-serif;
        font-family: 'Source Code Pro', monospace;
        font-weight: bold;
        text-align: start; }

/* MEDIA QUERYS */
@media (max-width: 576px) {
  .main.trabajos .section {
    flex-direction: column;
    margin: 0; }
    .main.trabajos .section .imagen2 {
      width: 100%;
      padding: 20px; }
  .main.trabajos .divisor {
    flex-direction: column;
    padding: 20px; }
  .main.trabajos .section2.trabajos {
    flex-direction: column;
    margin: 0; }
    .main.trabajos .section2.trabajos .imagen2 {
      width: 100%;
      padding: 20px; } }

/* MINISTERIO PUBLICO */
.main.trabajos {
  display: flex;
  flex-direction: column; }
  .main.trabajos .section {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 3.75em;
    align-content: space-between; }
    .main.trabajos .section .textosTrabajo {
      display: flex;
      flex-direction: column;
      width: 50%; }
      .main.trabajos .section .textosTrabajo p {
        font-size: 0.9375em;
        font-family: 'Abel', sans-serif;
        font-family: 'Source Code Pro', monospace;
        font-weight: normal;
        text-align: start;
        padding: 01.25em; }
      .main.trabajos .section .textosTrabajo h3 {
        font-size: 0.9375em;
        font-family: 'Abel', sans-serif;
        font-family: 'Source Code Pro', monospace;
        font-weight: bold;
        text-align: start; }
    .main.trabajos .section .imagen2 {
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      width: 40%; }
  .main.trabajos .divisor {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #E3E3E3;
    height: 6em;
    align-items: center;
    width: 100%; }
    .main.trabajos .divisor p {
      font-size: 0.9375em;
      font-family: 'Abel', sans-serif;
      font-family: 'Source Code Pro', monospace;
      font-weight: bold;
      text-align: start; }
  .main.trabajos .section2 {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    align-items: center;
    margin: 3.75em;
    align-items: center; }
    .main.trabajos .section2 .textosTrabajo {
      display: flex;
      flex-direction: column;
      width: 50%;
      margin: 3em; }
      .main.trabajos .section2 .textosTrabajo p {
        font-size: 0.9375em;
        font-family: 'Abel', sans-serif;
        font-family: 'Source Code Pro', monospace;
        font-weight: normal;
        text-align: start;
        padding: 01.25em; }
      .main.trabajos .section2 .textosTrabajo h3 {
        font-size: 0.9375em;
        font-family: 'Abel', sans-serif;
        font-family: 'Source Code Pro', monospace;
        font-weight: bold;
        text-align: start; }

/* MEDIA QUERYS */
@media (max-width: 576px) {
  .main.trabajos .section {
    flex-direction: column;
    margin: 0; }
    .main.trabajos .section .imagen2 {
      width: 100%;
      padding: 20px; }
  .main.trabajos .divisor {
    flex-direction: column;
    padding: 20px; }
  .main.trabajos .section2.trabajos {
    flex-direction: column;
    margin: 0; }
    .main.trabajos .section2.trabajos .imagen2 {
      width: 100%;
      padding: 20px; } }

/* CONTACTO */
.section.contacto {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 3.75em;
  align-content: space-between; }
  .section.contacto .soy {
    font-size: 1.2em;
    font-family: 'Abel', sans-serif;
    font-weight: normal;
    text-align: start;
    padding: 3.25em;
    width: 70%; }

.btn {
  background-color: #4F4F4F;
  color: white; }

.section.contacto2 {
  display: flex;
  margin: 3.75em; }
  .section.contacto2 .sobreMi {
    font-size: 1.2em;
    font-family: 'Abel', sans-serif;
    font-weight: normal;
    text-align: start;
    padding: 2.25em;
    width: 100%; }

/* MEDIA QUERYS */
@media (max-width: 576px) {
  .section.contacto {
    flex-direction: column;
    align-items: center; }
    .section.contacto .soy {
      padding: 1.25em;
      width: 100%; }
    .section.contacto .foto-personal {
      width: 60%; } }

.header nav {
  display: flex;
  list-style: none;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end; }
  .header nav a {
    text-decoration: none; }
  .header nav h1 {
    color: #4F4F4F;
    margin: 1.875em; }
  .header nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: row; }
    .header nav ul li {
      padding: 0 1em;
      margin: 22px; }
      .header nav ul li a {
        color: #4F4F4F;
        text-decoration: none;
        font-family: 'Roboto', sans-serif;
        font-family: 'Source Code Pro', monospace;
        font-size: 0.9375em; }

.header .headerHijo {
  background-color: #E3E3E3; }
  .header .headerHijo p {
    font-size: 0.9375em;
    font-family: 'Abel', sans-serif;
    font-family: 'Source Code Pro', monospace;
    font-weight: normal;
    padding: 1.25em;
    text-align: center; }

.footer nav {
  display: flex;
  list-style: none;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end; }
  .footer nav h1 {
    font-size: 1.375em;
    color: #4F4F4F;
    font-family: 'Abel', sans-serif;
    font-family: 'Source Code Pro', monospace;
    font-weight: normal;
    margin: 1.875em; }
  .footer nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: row; }
    .footer nav ul li {
      padding: 0 1em;
      margin: 22px; }
      .footer nav ul li a {
        color: #4F4F4F;
        text-decoration: none;
        font-family: 'Roboto', sans-serif;
        font-family: 'Source Code Pro', monospace;
        font-size: 0.9375em; }

/* MEDIA QUERYS */
@media (max-width: 576px) {
  .header nav {
    flex-direction: column;
    align-items: center; }
    .header nav h1 {
      margin: 0.875em; }
    .header nav ul {
      flex-direction: row; }
      .header nav ul li {
        padding: 0 1em;
        margin: 22px; }
  .footer nav {
    flex-direction: column;
    align-items: center; }
    .footer nav h1 {
      margin: 0.875em; }
    .footer nav ul {
      flex-direction: row; }
      .footer nav ul li {
        padding: 0 1em;
        margin: 22px; } }
