* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}


// IMPORTACIONES VARIABLES

@import "./variables/colors";
@import "./variables/typography";
@import "./variables/extend";
@import "./variables/maps";

//IMPORTACIONES SECCIONES

@import "./secciones/index";
@import "./secciones/behalthy";
@import "./secciones/cinematoday";
@import "./secciones/happyfeel";
@import "./secciones/ministeriopublico";
@import "./secciones/contacto";

// IMPORTACIONES FONTS

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Source+Code+Pro:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Roboto:wght@300&family=Source+Code+Pro:wght@300&display=swap');


.header {
    nav {
        display: flex;
        list-style: none;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-end;




        a {
            text-decoration: none;
        }

        h1 {
            color: $primarycolor;
            @extend %Stylelogo;
            margin: 1.875em;
            &:hover{
                color: black;
            }

        }


        ul {
            list-style-type: none;
            display: flex;
            flex-direction: row;



            li {

                padding: 0 1em;
                margin: 22px;

                a {
                    color: $primarycolor;
                    text-decoration: none;
                    font-family: 'Roboto', sans-serif;
                    font-family: 'Source Code Pro', monospace;
                    font-size: 0.9375em;
                    &:hover{
                        color: black;
                    }
        
                }
            }
        }
    }

    .headerHijo {

        background-color: $tertiary;


        p {
            font-size: 0.9375em;
            font-family: 'Abel', sans-serif;
            font-family: 'Source Code Pro', monospace;
            font-weight: normal;
            padding: 1.25em;
            text-align: center;
        }

    }


}


.footer {
    nav {
        display: flex;
        list-style: none;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-end;

        h1 {
            font-size: $tertiarysize;
            color: $primarycolor;
            font-family: 'Abel', sans-serif;
            font-family: 'Source Code Pro', monospace;
            font-weight: normal;
            margin: 1.875em;
        }

        ul {
            list-style-type: none;
            display: flex;
            flex-direction: row;


            li {

                padding: 0 1em;
                margin: 22px;

                a {
                    color: $primarycolor;
                    text-decoration: none;
                    font-family: 'Roboto', sans-serif;
                    font-family: 'Source Code Pro', monospace;
                    font-size: 0.9375em;
                    &:hover{
                        color: black;
                    }
        
                }
            }
        }

    }
}



/* MEDIA QUERYS */

@media (max-width: 576px) {

    .header {

        nav {
            flex-direction: column;
            align-items: center;

            h1 {
               
                margin: 0.875em;
                
    
            }

            ul {

                flex-direction: row;


                li {

                    padding: 0 1em;
                    margin: 22px;

                }
            }

        }
    }

    .footer {

        nav {
            flex-direction: column;
            align-items: center;

            h1 {
               
                margin: 0.875em;
                
    
            }

            ul {

                flex-direction: row;


                li {

                    padding: 0 1em;
                    margin: 22px;

                }
            }

        }
    }



}
