* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}


// IMPORTACIONES

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Source+Code+Pro:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Roboto:wght@300&family=Source+Code+Pro:wght@300&display=swap');
@import "./secciones/index";
@import "./secciones/behalthy";
@import "./secciones/cinematoday";
@import "./secciones/happyfeel";
@import "./secciones/ministeriopublico";
@import "./secciones/contacto";
@import "./variables/colores.scss";
@import "./variables/typography.scss";

 
.header {
    nav{
    display: flex;
    list-style: none;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;

    a {
        text-decoration: none;
    }

    h1 {
        font-size: $tertiarysize;
        color: $primarycolor;
        font-family: 'Abel', sans-serif;
        font-family: 'Source Code Pro', monospace;
        font-weight: normal;
        margin: 1.875em;

    }

    
    ul{
        list-style-type: none;
        display: flex;
        flex-direction: row;
     
   
    li {
    
        padding: 0 1em;
        margin: 22px;

        a {
            color: $primarycolor;
            text-decoration: none;
            font-family: 'Roboto', sans-serif;
            font-family: 'Source Code Pro', monospace;
            font-size: 0.9375em;
        }
    }
 }
}
    .headerHijo{

        background-color: $tertiary;
        p{
            font-size: 0.9375em;
            font-family: 'Abel', sans-serif;
            font-family: 'Roboto', sans-serif;
            font-family: 'Source Code Pro', monospace;
            font-weight:normal;
            margin: 3.75em;
            padding: 1.25em;
            text-align: center;     
        }
     
    }

} 


.footer{
    nav{
        display: flex;
        list-style: none;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-end;

    h1{
        font-size: $tertiarysize;
        color: $primarycolor;
        font-family: 'Abel', sans-serif;
        font-family: 'Source Code Pro', monospace;
        font-weight: normal;
        margin: 1.875em;
    }
    ul{
        list-style-type: none;
        display: flex;
        flex-direction: row;
     
   
    li {
    
        padding: 0 1em;
        margin: 22px;

        a {
            color: $primarycolor;
            text-decoration: none;
            font-family: 'Roboto', sans-serif;
            font-family: 'Source Code Pro', monospace;
            font-size: 0.9375em;
        }
    }
 }

    }
}


  