%Stylelogo{
    font-family: 'Abel', sans-serif;
    font-family: 'Source Code Pro', monospace;
    font-weight: normal;
    font-size: $logosize;
}

%StyleParraf{
    font-size: 0.9375em;
    font-family: 'Abel', sans-serif;
    font-family: 'Source Code Pro', monospace;
    font-weight: normal;
    text-align: start;
    padding: 01.25em;

}

%Styleh3{

    font-size: 0.9375em;
    font-family: 'Abel', sans-serif;
    font-family: 'Source Code Pro', monospace;
    font-weight: bold;
    text-align: start;

}