/* CONTACTO */

.section.contacto {

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 3.75em;
    align-content: space-between;

    .soy {
        font-size: 1.2em;
        font-family: 'Abel', sans-serif;
        font-weight: normal;
        text-align: start;
        padding: 3.25em;
        width: 70%;
    }


}

.btn {
    background-color: rgb(192, 189, 189);
    color: white;

}

.section.contacto2 {

    display: flex;
    margin: 3.75em;


    .sobreMi {

        font-size: 1.2em;
        font-family: 'Abel', sans-serif;
        font-weight: normal;
        text-align: start;
        padding: 2.25em;
        width: 100%;


    }


}



/* MEDIA QUERYS */

@media (max-width: 576px) {

    .section.contacto {

        flex-direction: column;
        align-items: center;

        .soy {
            padding: 1.25em;
            width: 100%;
        }

        .foto-personal {

            width: 60%;
        }

    }




}