     /* INDEX */ 
     
     .trabajos {

         display: flex;
         flex-direction: row;
         flex-wrap: wrap;
         align-items: center;

         div {
             width: 50%;
             display: flex;
             justify-content: center;
            
             .a{
                text-decoration: none;
             }
           
             img {

                 width: 90%;
                 margin: 50px;

             }

         }
     }

     .footer {
         background-color: #E3E3E3;
     }


