/* MINISTERIO PUBLICO */

.main.trabajos {
    display: flex;
    flex-direction: column;

    .section {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        margin: 3.75em;
        align-content: space-between;



        .textosTrabajo {

            display: flex;
            flex-direction: column;
            width: 50%;

            p {
                font-size: 0.9375em;
                font-family: 'Abel', sans-serif;
                font-family: 'Source Code Pro', monospace;
                font-weight: normal;
                text-align: start;
                padding: 01.25em;
            }

            h3 {
                font-size: 0.9375em;
                font-family: 'Abel', sans-serif;
                font-family: 'Source Code Pro', monospace;
                font-weight: bold;
                text-align: start;
            }



        }

        .imagen2 {
            display: flex;
            flex-direction: row;
            align-items: flex-end;
            width: 40%;

        }

    }

    .divisor {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        background-color: #E3E3E3;
        height: 6em;
        align-items: center;
        width: 100%;

        p {
            font-size: 0.9375em;
            font-family: 'Abel', sans-serif;
            font-family: 'Source Code Pro', monospace;
            font-weight: bold;
            text-align: start;
        }
    }

    .section2 {
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: nowrap;
        align-items: center;
        margin: 3.75em;
        align-items: center;


        .textosTrabajo {

            display: flex;
            flex-direction: column;
            width: 50%;
            margin: 3em;

            p {
                font-size: 0.9375em;
                font-family: 'Abel', sans-serif;
                font-family: 'Source Code Pro', monospace;
                font-weight: normal;
                text-align: start;
                padding: 01.25em;
            }

            h3 {
                font-size: 0.9375em;
                font-family: 'Abel', sans-serif;
                font-family: 'Source Code Pro', monospace;
                font-weight: bold;
                text-align: start;
            }

        }
    }


}



/* MEDIA QUERYS */

@media (max-width: 576px) {

    .main.trabajos {

        .section {
            flex-direction: column;
            margin: 0;
            align-items: center;

            .imagen2 {
                width: 100%;
                padding: 20px;
            }


        }

        .divisor {

            flex-direction: column;
            padding: 20px;


        }

        .section2.trabajos {

            flex-direction: column;
            margin: 0;
            align-items: center;

            .imagen2 {
                width: 100%;
                padding: 20px;
            }



        }

    }




}